#pogrubienie_grabski {
    font-size: 32px;
    color: #8C5FD3;
}
#pochylona_grabski {
    font-size: 37pt;
    color: #F0C36F;
}
#index_gorny_grabski {
    font-size: 1.2cm;
    color: #A0911F;
}
#index_dolny_grabski {
    font-size: 1.9cm;
    color: rgb(24%, 96%, 91%);
}
#mono_grabski {
    font-size: 42px;
    color: #20E16F;
}
#powiekszenie_grabski {
    color: #5A41A1;
}
#pomniejszenie_grabski {
    color: rgb(75%, 65%, 24%);
}
/* Jakub Grabski 05.06.2022 */